* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;

}

section {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 900px;
}

.img {
    width: 100%;
    height: 100%;
}

.pos-abs {
    position: absolute;
}

.nav {
    width: 50%;
    height: 100px;
    background-color: #ffffff;
    top: 50px;
    left: 25%;
    border-radius: 50px;
}

.nav ul {
    left: 30%;
    top: 30px;
}

.nav li {
    margin: 10px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
}

.img-nav {
    top: 30px;
    left: 30px;
}

.header-text h1 {
    top: 30%;
    left: 35%;
    color: #fff;
    width: 30%;
    text-align: center;
    font-size: 40px;
}


.header-text h4 {
    top: 45%;
    left: 33%;
    color: #fff;
    width: 35%;
    text-align: center;
    font-size: 20px;
}

.header-text button {
    width: 170px;
    height: 40px;
    top: 55%;
    left: 45%;
    border-radius: 50px;
    background-color: #fd5c9e;
    border: none;
}

.header-text button a {
    color: #fff;
    text-decoration: none;
}

.cards {
    height: 800px;
    display: flex;
    left: 17%;

}



.card {
    width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-img {
    width: 100px;
    height: 100px;
    background-color: #8266eb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h4 {
    margin-top: 20px;
}

.card p {
    margin-top: 15px;
    width: 70%;
    text-align: center;
}

.content {
    width: 70%;
    left: 17%;
    margin-top: 15%;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cont-text {
    width: 400px;
    height: 200px;
}

.cont-text p {
    margin-top: 20px;
}

.cont1-img {
    margin: 70px;
}

.cont2-img {
    margin: 70px;
}

.content3 {
    height: 1200px;
    background-color: #ffffff00;
}

.cont4-img {
    width: 100%;
}

.cont4-text {
    bottom: -150%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont4-text h2 {
    color: #fff;
}

.cont4-text p {
    margin-top: 20px;
    color: #fff;
    width: 70%;

}

.content4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont4-cards {
    display: flex;
    margin-top: 10%;
}

.cont4-card {
    width: 150px;
    height: 180px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
}

.cont4-card h4 {
    margin-top: 20px;
}

.cont4-card p {
    margin-top: 10px;
}

.content5 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont5 {
    margin-top: 20px;
}

.cont5 p {
    text-align: left;
}

.person-id {
    display: flex;
    margin-top: 20px;
    margin-right: 30%;
}

.person-text {
    text-align: left;
}

.person-text h3 {
    margin-top: 10px;

}

.person-text h4 {
    color: #fd5c9e;
    margin-top: 0px;

}

.person-id-img {
    width: 60px;
    height: 60px;
}

.cont5-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont5-text h2 {
    margin-top: 10%;
}

.cont5-text h4 {
    margin-top: 20px;
    width: 70%;

}

.content6 {
    width: 100%;
    height: 800px;
    background-color: #f2f2fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont6 {
    margin-top: 20px;
    height: 500px;
}

.cont6 button {
    width: 200px;
    height: 50px;
    background-color: #8266eb;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
}

.cont6 button a {
    text-decoration: none;
    color: #fff;
}

.price {
    width: 350px;
    height: 100px;
    background-color: #8266eb;
    border-radius: 25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.pink {
    background-color: #fd5c9e;
}

.content7 {
    width: 100%;
    height: 100%;
}

.cont7-img {
    width: 100%;
}

.numbers h1 {
    color: #fff;
    font-size: 35px;
}

.numbers h3 {
    color: #fff;
    margin-top: 20px;

}

.numbers {
    margin-right: 5%;
    margin-left: 5%;
}

.cont7-number {
    top: 467%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 190px;
}

.content8 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-photos {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;

}

.card-photo {
    width: 380px;
    height: 500px;
}

.card-photo h2 {
    margin-top: 25px;
}

.card-photo p {
    margin-top: 25px;
}

.card-photo button {
    width: 140px;
    height: 50px;
    margin-top: 25px;
    background-color: #8266eb;
    border-radius: 50px;
    border: none;
}

.card-photo a {
    text-decoration: none;
    color: #fff;
}

.content9 {
    width: 100%;
    height: 700px;
    background-color: #f2f2fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-us {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.contact-text {
    width: 30%;
    height: 100%;
}

.contact-text p {
    text-align: left;
    margin-top: 40px;
}

.contact-text h4 {
    text-align: left;
    font-size: 20px;
}

.contact-input {
    width: 70%;
    height: 100%;
}

.full-name {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;

}

.email {
    width: 300px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
}

.message {
    width: 620px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    padding-bottom: 100px;
}

.content9 button {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #8266eb;
    margin-top: 15px;
    margin-right: 27rem;
}

.content9 button a {
    text-decoration: none;
    color: #fff;
}